@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.container-principal {
  height: 100%;
  width: 100%;
  background: rgb(23, 247, 139);
  display: flex;
}

.container-imagem {
  width: 50%;
  height: 100%;
  background: rgb(45, 98, 167);
  border-top-right-radius: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 20px -15px 82px 26px rgba(126, 123, 219, 1);
  -moz-box-shadow: 20px -15px 82px 26px rgba(126, 123, 219, 1);
  box-shadow: 20px -15px 82px 26px rgba(126, 123, 219, 1);
}

.container-imagem img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-bottom: 10px;
}

.container-imagem p {
  font-size: 30px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.container-formulario {
  width: 50%;
  height: 100%;
  background: rgb(151, 92, 205);
  border-bottom-left-radius: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -27px 35px 82px 26px rgba(186, 123, 217, 1);
  -moz-box-shadow: -27px 35px 82px 26px rgba(186, 123, 217, 1);
  box-shadow: -27px 35px 82px 26px rgba(186, 123, 217, 1);
}

.container-formulario input,
button {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.container-formulario button {
  cursor: pointer;
  color: white;
  background-color: rgb(41, 41, 141);
  transition: 0.5s;
}

.container-formulario button:hover {
  background-color: rgba(13, 215, 138, 0.923);
  color: black;
}
